SONAR_PORT=9000
POSTGRES_USER=sonarqube
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=sonarqube
SONAR_TOKEN=your_sonarqube_token_here
SONARQUBE_URL=http://localhost:9000

# App database
APP_DB_HOST=localhost
APP_DB_PORT=5433
APP_DB_USER=analyzer
APP_DB_PASSWORD=your_secure_password_here
APP_DB_NAME=git_repo_analyzer

CLONE_TARGET_DIR=/path/to/clone-dirs
